<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Create a New Article</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
    <ul class="nav nav-pills">
      <li><a href="/articles">Back to Articles</a></li>
      <% if (currentUser) { %>
       <li id = "logout"><form class = "logout" action="/session/?_method=DELETE"
           method="post">
           <input id = "delete" type="submit" value="Log Out">
         </form></li>
      <% } else { %>
     <li><a href="/login">Log in / Sign Up</a></li>
      <% } %>
    </div>
    </nav>
    <form action="/articles" method="post">
      <label for="articletitle">Title</label>
      <input id="articletitle"
             type="text"
             class = "form-control"
             name="article[title]"/>
      <br>
      <label> By : <%= locals.currentUser.username %> </label>
      <br><br>
      <input class="hidden" type="text" name="article[author]" value="<%= locals.currentUser.username %>"/>
        <input class="hidden" type="text" name="article[comments]" value="[]"/>
      <label for="articlebody">Article Body</label>
      <br>
      <textarea id="articlebody"
             class = "form-control" "articlebody"
             rows = "10"
             cols = "30"
             name="article[body]"></textarea>
             <br>
      <label for="articlecategory">Category</label>
      <select id = "articlecategory" name="article[category]" class = "form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>

    <br><br>
      <input class="submit" type="submit" class="btn btn-primary"/>
    </form>
  </body>
</html>
