  <form class="createnew" action="/articles" method="post">
      <h4> Create New Article </h4>
      <label for="articletitle">Title</label>
      <input id="articletitle"
             type="text"
             class = "form-control"
             name="article[title]"/>
      <br>
      <label> By : <%= locals.currentUser.username %> </label>
      <br><br>
      <input class="hidden" type="text" name="article[author]" value="<%= locals.currentUser.username %>"/>
        <input class="hidden" type="text" name="article[comments]" value="[]"/>
      <label for="articlebody">Article Body</label>
      <br>
      <textarea id="articlebody"
             class = "form-control" "articlebody"
             rows = "10"
             cols = "30"
             name="article[body]"></textarea>
             <br>
      <label for="articlecategory">Category</label>
      <select id = "articlecategory" name="article[category]" class = "form-control">
      <option value="Workplace Behavior">Workplace Behavior</option>
      <option value="Extracurricular Activities">Extracurricular Activities</option>
      <option value="Company History">Company History</option>
    </select>

    <br><br>
    <div>
      <input type="submit" class="submit btn waves-effect waves-light"/></br></br>
       <a href="./" class="btn-floating btn-med waves-effect waves-light grey">Back</a>
     </div>
    </form>
