* {
  margin:0;
  padding:0;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
  margin-top: 0px;
}

h2 {
  background-color: #E8E8E8 ;
  margin-top: 0px;
}

hr {
  margin-top: 5px;
  margin-bottom: 0px;
}

nav {
 overflow: none;
 background: lightblue;
 margin-bottom: 1rem;
 height: 60px;
 display: block;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
}

form {
  width: 75%;
  margin: 10%;
}

#categorylink {
  display: block;
  padding-left: 10px;
}

.logout {
  display: inline;
}

nav .logo {
 float: left;
 height: 50px;
 margin: 1rem;
}

nav .right-nav {
 float: right;
 padding-bottom: 10px;
}

#delete {
  border: none;
  background-color: #F8F8F8;
  color: red;
}

#logout {
  background-color: red;
}

#welcome {
    color: green;
    float: left;
}

#article {
  width: 70%;
  margin-left: 10%;
  margin-bottom: 20px;
  border: 2px solid black;
  text-align: center;
  overflow: none;
}

#body {
  color: green;
  font-weight: normal;
  text-align: center;
  padding: 10px;
}

#login {
  border: 2px solid steelblue;
  height: 250px;
  margin-top: 50px;
}

#notloggedin {
  margin-left: 50%;
}

#commentinput {
  width: 50%;
  margin-left: 20%;
  border: 2px solid steelblue;
}

#commentform {
  margin: 10px 10px;
}

#editbutton {
  display: inline;
  float: right;
  width: 50px;
  height: 20px;
  display: block;
}

#editlink {
  width: 50px;
  color: red;
  height: 20px;
  text-decoration: none;
}

#vote {
  font-weight: bold;
}

#voteyes {
  color: black;
  background-color: white;
  border: 1px solid green;
  text-decoration: none;
}

#voteyes a{
  border: none;
}

#voteno {
  color: black;
  background-color: white;
  border: 1px solid red;
  text-decoration: none;
}

#voteno a{
  border: none;
}


/*a {
  margin-left: 50%;
}

a.authorname {
  margin-left: 0px;
  color: black;
}

a.authorname:hover {
  color: red;
}

textarea {
  text-align: left:
}

nav {
 overflow: none;
 background: darkgreen;
 margin-bottom: 1rem;
 height: 60px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
}

nav .logo {
 float: left;
 height: 50px;
 margin: 1rem;
}

nav .right-nav {
 float: right;
}

.right-nav a {
 height: 50px;
 line-height: 45px;
 text-decoration: none;
 color: white;
 border: 1px solid black;
 background: darkgrey;
 margin: 1rem;
 border-radius: 5px;
}

.right-nav a:hover {
 text-decoration: none;
 background: lightblue;
 color: black;
}

.logout {
  color: red;
  border: 1px solid black;
  background: darkgrey;
  margin: 1rem;
  border-radius: 5px;
  width: 30px;
}

.login {
  border: 2px solid steelblue;
  height: 250px;
  margin-top: 50px;
}

.delete {
  color: red;
}

.submit {
  display:block;
}

.edit {
  text-align: left;
  float: right;
  color: red;
}

.comment {
  text-align: left;
  color: red;
}

.hidden {
  display: none;
}

.authorname {
  display: inline;
}

h1 {
  margin-left: 25%;
  display: block;
  font-family: 'Averia Sans Libre';
}

form {
  width: 50%;
  margin: 0 auto;
}

.article {
  text-align: center;
  width: 50%;
  border: 1px black solid;
  margin-bottom: 10px;
  padding: 10px 10px;
  margin-left: 25%;
}

.welcome {
  display: inline;
}

.articlebody {
  text-align: left;
}

.loadcomments {
  display: none;
}*/
